pip
git+https://github.com/laxmimerit/preprocess_kgptalkie.git
bs4
textblob
streamlit==1.2.0
pandas
seaborn==0.11.2
matplotlib==3.4.3
numpy==1.21.4
altair==4.1.0
spacy==3.0.0
config
scikit-learn==1.0.1
self==2020.12.3
imblearn==0.0
PyYAML==6.0
tk==0.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.0.0/en_core_web_lg-3.0.0.tar.gz
